html, body {
    height:100%;
    padding:0;
    margin:0;
  }
  
#map {
  height: 100%;
}

.cog {
  z-index: 3;
}

.selectDiv {
  z-index: 2;
  font-size: 13px;
}

.menu-ui {
  background:#fff;
  position:absolute;
  top:3% ;right:3%;
  z-index:1;
  width:190px;
  }
.menu-ui a {
  font-size:13px;
  color:#404040;
  display:block;
  margin: 0 0 1px;
  padding:10px;
  text-decoration:none;
  text-align:center;
  font-size: 15px;
  font-weight: 600;
}
.menu-ui a:first-child {
}
.menu-ui a:last-child {
  border:none;
}
.menu-ui a:hover {
  background:#919A9E;
  color:#FFF;;
}
.menu-ui a.active {
  background:#48565D;
  color:#FFF;  
}
.menu-ui a.active:hover {
  cursor:default;
}



.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}